* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(141, 214, 214);
}

h1 {
    font-size: 8rem;
    font-family: Montserrat;
}

.letter {
    transition: color 1000ms;
}
